<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
        {% stylesheets
            '@DevelopatheCrudBundle/Resources/public/css/crud.css'
            '@FklFranklinBundle/Resources/public/css/admin.css'
            '@FklFranklinBundle/Resources/public/css/jquery.datetimepicker.css'

            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav id="navbar" class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Franklin</a>
                </div>

                <div role="navigation" class="collapse navbar-collapse">
                    <ul  class="nav navbar-nav navbar-right">
                        
                        {% if app.user.role.id == 4 %}
                                        <li><a href="{{ path('admin_user_root') }}">
                                {% trans %}Utilisateurs{% endtrans %}
                            </a>
                        </li>
                        
                           <li><a href="{{ path('admin_installations_root') }}">
                                {% trans %}Installations{% endtrans %}
                            </a>
                        </li>
                        <li><a href="{{ path('admin_image_root') }}">
                                {% trans %}Images{% endtrans %}
                            </a>
                        </li>
                        <li><a href="{{ path('admin_product_root') }}">
                                {% trans %}Produits{% endtrans %}
                            </a>
                        </li>
                        {% endif %}

                        <li><a href="{{ path('admin_intervention_root') }}">
                                {% trans %}Interventions{% endtrans %}
                            </a>
                        </li>
                                                <li><a href="{{ path('admin_order_root') }}">
                                {% trans %}Commandes{% endtrans %}
                            </a>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}" title="{% trans %}Logout{% endtrans %}">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block contextualMenu %}{% endblock contextualMenu %}
            <div class="page-header"><h1>{{ title|raw }}</h1></div>
            {% if block('errors') is not empty %}
            <div class="alert alert-danger">{% block errors %}{% endblock errors %}</div>
            {% endif %} 
            {% if block('info') is not empty %}
            <div class="alert alert-info">{% block info %}{% endblock info %}</div>
            {% endif %} 
            {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                    {{ flashMessage|raw }}
            </div><!-- div.alert -->
            {% endfor %}
            {% block body %}{% endblock body%}
        </div>

    </div>
       {% javascripts
       '@FklFranklinBundle/Resources/public/js/back_script.js'
       '@FklFranklinBundle/Resources/public/js/jquery.datetimepicker.js'
         %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
       {% endjavascripts %}
       {% block javascripts %}{% endblock %}
</body>
</html>