<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} </title>
        {% stylesheets 
            '@FklFranklinBundle/Resources/public/css/bootstrap.min.css'
            '@FklFranklinBundle/Resources/public/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %} 
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <section id="wrapper">
            <header id="header">
                <div class="top">
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{{ path('homepage') }}" class="navbar-brand logo-top">Franklin Domotique</a>
                            </div>
                            <nav class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                                    <li><a href="{{ path('installationpage') }}" class="{% if app.request.attributes.get('_route') == 'installationpage' %}active{% endif %}">Nos installations</a></li>
                                    <li><a href="{{ path('produitpage') }}" class="{% if app.request.attributes.get('_route') == 'produitpage' %}active{% endif %}">Nos produits</a></li>
                                    <li><a href="{{ path('contactpage') }}" class="{% if app.request.attributes.get('_route') == 'contactpage' %}active{% endif %}">Nous contacter</a></li>
                                </ul>    
                            </nav>
                        </div>
                    </div>   
                </div>
            </header>

            <section id="message">
                {% block message %}{% endblock %}
            </section>
            {% block slideshow %}{% endblock %}
            <section id="content" class="container">   
                {% block body %}{% endblock %}
            </section>

            <footer id="footer">           
                <div class="container">
                    <nav class="navbar navbar-inverse" role="navigation">
                        <ul class="nav navbar-nav ">
                            <li><a href="/" class="">Plan du site</a></li>
                            <li><a href="/" class="">Info legal</a></li>                           
                        </ul>
                    </nav>
                </div>
            </footer>
        </section>

       {% javascripts
       '@FklFranklinBundle/Resources/public/js/jquery.1.11.0.min.js'
       '@FklFranklinBundle/Resources/public/js/bootstrap.min.js'
       '@FklFranklinBundle/Resources/public/js/script.js'
         %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
       {% endjavascripts %}
       {% block javascripts %}{% endblock %}

    </body>
</html>