{% extends 'FklFranklinBundle::base.html.twig' %}
{% block stylesheets %}
{% endblock %}  

{% block body %}
<div class="produit-liste">
    <h1>Nos produits</h1>
    <form class="form-inline filtre-produit" role="form" action="" method="POST">
        <div class="form-group">
            <label>Categorie : </label>
            <select name ="categorie" class="form-control">
                <option value = 0></option>
    {% for categorie in categories %}
                <option value = "{{categorie.id}}">{{categorie.name}}</option>
    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Trier par : </label>
            <select name ="price" class="form-control">
                <option></option>
                <option value = 1>Croissant</option>
                <option value = 2>Décroissant</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Filtrer</button>
    </form>
    <div class="row" >
    {% for product in products %}

            <div class="col-md-3">
                <div class="item">
                    <img src="../{{ product.images[0].path }} " alt="" class="img-responsive">
                    <div class="item-content">
                        <div class="item-top-content">
                            <div class="item-top-content-inner">
                                <div class="item-product">
                                    <div class="item-top-title">
                                        <h5>    {{ product.name }} </h5>
                                        <p class="subdescription">
                                            {{ product.category }}                                 
                                            </p> 
                                        </div>
                                    </div>
                                    <div class="item-product-price">
                                        <span class="price-num green-text">{{product.price}} €</span> 
                                    </div>
                                </div>
                            </div>
                            <div class="item-add-content">
                                <div class="item-add-content-inner">
                                    <div class="section">
                                        <br>
                                        <a href="{{ path('produitpagefull', {'id': product.id}) }}" class="btn btn-primary custom-button green-btn">Voir la description</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    {% endfor %}
            </div>


{% endblock %}

{% block javascripts %}

{% endblock %}


