{% extends 'FklFranklinBundle::admin.html.twig' %}

{% block contextualMenu %}

<div class="btn-group">
    <a href="{{ path('admin_intervention') }}" class="btn btn-default{%if 'admin_intervention' == app.request.attributes.get('_route')%} active{% endif %}">
        <span class="glyphicon glyphicon-list"></span>
        {% trans %}List{% endtrans %}
    </a>
                        {% if app.user.role.id == 4 %}
    <a href="{{ path('admin_intervention_new') }}" class="btn btn-primary{%if 'admin_intervention_new' == app.request.attributes.get('_route')%} active{% endif %}">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans %}New Intervention{% endtrans %}
    </a>
        <a class = "btn btn-default" href="{{ path('admin_intervention_category_root') }}">
                                {% trans %}Categories{% endtrans %}
                            </a>
                                {% endif %}

</div>

{% if entity is defined and entity.id %}
<div class="btn-group">
    <a class="btn btn-default {%if 'admin_intervention_show' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_intervention_show', {'id': entity.id}) }}">
        {% trans %}Show{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_intervention_edit' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_intervention_edit', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans %}Edit{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_intervention_delete' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_intervention_delete', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-remove"></span>
        {% trans %}Delete{% endtrans %}
    </a>    
</div>
{% endif %}


{% endblock contextualMenu %}