{% extends 'FklFranklinBundle:Intervention:common.html.twig' %}

{% set title = 'Intervention'|trans %}

{% block body %}
<ul class="list-group">
    <li class="list-group-item">
        <label>Id:</label>
            {{ entity.id }}
    </li>
    <li class="list-group-item">
        <label>Title:</label>
            {{ entity.title }}
    </li>
    <li class="list-group-item">
        <label>Date:</label>
            {{ entity.date|date('Y-m-d H:i:s') }}
    </li>
    <li class="list-group-item">
        <label>Price:</label>
            {{ entity.price }}
    </li>
    <li class="list-group-item">
        <label>Address:</label>
            {{ entity.address }}
    </li>
    <li class="list-group-item">
        <label>Zip:</label>
            {{ entity.zip }}
    </li>
    <li class="list-group-item">
        <label>City:</label>
            {{ entity.city }}
    </li>
    <li class="list-group-item">
        <label>User:</label>
            {{ entity.user }}
    </li>
    <li class="list-group-item">
        <label>Interventioncategory:</label>
            {{ entity.interventionCategory }}
    </li>
</ul>

{% endblock %}
