{% extends 'FklFranklinBundle:Product:common.html.twig' %}

{% set title = 'Product'|trans %}

    {% block body %}
        <ul class="list-group">
            <li class="list-group-item">
                <label>Id:</label>
                {{ entity.id }}
            </li>
            <li class="list-group-item">
                <label>Sku:</label>
                {{ entity.sku }}
            </li>
            <li class="list-group-item">
                <label>Name:</label>
                {{ entity.name }}
            </li>
            <li class="list-group-item">
                <label>Quantity:</label>
                {{ entity.quantity }}
            </li>
            <li class="list-group-item">
                <label>Price:</label>
                {{ entity.price }}
            </li>
            <li class="list-group-item">
                <label>Notice:</label>
                {{ entity.notice }}
            </li>
            <li class="list-group-item">
                <label>Description:</label>
                {{ entity.description }}
            </li>
            <li class="list-group-item">
                <label>Updated:</label>
                {{ entity.updated|date('Y-m-d H:i:s') }}
            </li>
        </ul>

        {% if entity.images %}
            <div class="row product-images-list">
                {% for image in images %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 image-item">
                        <div class="content">
                            <a href="{{ path('admin_image_show', {'id': image.id }) }}"><img src="{{ asset(image.path) }}" /></a>
                            </div>
                            <div class="image-links">
                                <a href="{{ path('admin_image_edit', {'id': image.id }) }}" title="{% trans %}Edit{% endtrans %}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{{ path('admin_image_delete', {'id': image.id }) }}" title="{% trans %}Delete{% endtrans %}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="modal fade" id="form-new-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    {{ form_start(formNewImage) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Image{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        {%
                            set submit = form_widget(formNewImage.submit)
                        %}
                        {{ form_row(formNewImage.name) }}
                        {{ form_row(formNewImage.file) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        {{ submit| raw}}
                    </div>
                    {{ form_rest(formNewImage) }}
                    {{ form_end(formNewImage) }}
                </div>
            </div>
        </div>

    {% endblock %}
