{% extends 'FklFranklinBundle::admin.html.twig' %}

{% set title = 'Administration'|trans %}
{% block body %}
    <div class="row">
        <div class="col-sm-2"><span class="thumbnail"><img title="profile image" class=" img-responsive" src="http://business-herald.com/wp-content/uploads/2013/05/empty-avatar.jpg"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-9"><!--left col-->

            <ul class="list-group">
                <li class="list-group-item ">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Adresse mail</strong></span> {{app.user.email}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nom complets</strong></span> {{app.user.firstname}} {{app.user.lastname}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Secteur d'activité</strong></span> {{app.user.zipcode}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Rôle</strong></span> {{app.user.role}}</li>
            </ul> 


                        {% if app.user.role.id < 4 %}
            <ul class="list-group">
                <li class="list-group-item">Activité <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Chiffre d'affaire du mois</strong></span> 125</li>
            </ul> 
                        {% endif %}
        </div><!--/col-3-->
        <div class="col-sm-3">
            <a href="{{ path('admin_intervention_root') }}" class="btn btn-primary btn-lg btn-block">Interventions</a>
            <a href="{{ path('admin_order_root') }}" class="btn btn-primary btn-lg btn-block">Commandes</a>
            <a href="{{ path('admin_user_root') }}" class="btn btn-primary btn-lg btn-block">Utilisateurs</a>
        </div><!--/tab-pane-->
    </div><!--/tab-content-->

</div><!--/col-9-->
{% endblock body%}


