{% extends 'DevelopatheCrudBundle::admin.html.twig' %}

{% block contextualMenu %}

<div class="btn-group">
    <a href="{{ path('admin_order') }}" class="btn btn-default{%if 'admin_order' == app.request.attributes.get('_route')%} active{% endif %}">
        <span class="glyphicon glyphicon-list"></span>
        {% trans %}List{% endtrans %}
    </a>
    <a href="{{ path('admin_order_new') }}" class="btn btn-primary{%if 'admin_order_new' == app.request.attributes.get('_route')%} active{% endif %}">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans %}New Order{% endtrans %}
    </a>
</div>

{% if entity is defined and entity.id %}
<div class="btn-group">
    <a class="btn btn-default {%if 'admin_order_show' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_order_show', {'id': entity.id}) }}">
        {% trans %}Show{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_order_edit' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_order_edit', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-edit"></span>
        {% trans %}Edit{% endtrans %}
    </a>
    <a class="btn btn-default {%if 'admin_order_delete' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('admin_order_delete', {'id': entity.id}) }}">
        <span class="glyphicon glyphicon-remove"></span>
        {% trans %}Delete{% endtrans %}
    </a>    
</div>
{% endif %}


{% endblock contextualMenu %}